.site-footer,
.site-footer a {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

.site-footer {
    margin-top: 10rem;
}

.site-info a {
    background-color: transparent;
}