.site-header {
    background-color: black;
    a, 
    a:visited {
        font-size: 1.3rem; 
        font-weight: 700;
        color: white;
        text-decoration: none;
        padding: 1rem;
    }
    a:hover, 
    a:focus, 
    a:active {
        color: #0053ec;
    }
}

#site-navigation {
	padding: 1rem;
}

.site-branding {
	position: absolute; 
	right: 0;
	font-size: 2.5em;
	a {
		font-size: 1.5rem;
	}
}

.site-title {
    padding: 0; 
    margin: 0; 
}